@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 500;
    line-height: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    /* width: 1140px; */
    /* height: 1750px; */
}

.container-news {
    padding: 85px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
    /* grid-template-rows: repeat(2, 260px);
    grid-auto-rows: 260px; */
    gap: 60px;
}

.news__text {
    width: 240px;
    font-size: 14px;
    margin-top: 15px;
}